<ion-view view-title="Dashboard"  hide-nav-bar="true">
  <ion-content class="padding">
    
  <div ng-controller="getPhrase">
    <div id="contentRow01" class="contentRow">
      <div id="logo" class="elegantshadow">
          <h1> Multiglosa </h1>           
      </div>
    </div> <!-- End ContentRow01 -->

    <div id="contentRow02" class="contentRow" >

      <div class="form-style-5">
      <form>
      <fieldset>
        <legend><span class="number">Glosa</span> {{currentPhrase}}</legend>
        <textarea name="field3" placeholder="&ouml;vers&auml;tt"></textarea>
        <legend><span class="number">Svar</span> </legend>
        
      </fieldset>
      
      </form>
      </div>    
   
   
    </div>  <!-- End ContentRow02 -->   

    <div id="contentRow03" class="contentRow">
      
    </div>  <!-- End ContentRow03 -->   
    
    
    <div id="contentRow04" class="contentRow">
      <button type="button" class="button" ng-click="updatePhrase()" >Ny glosa</button>
      <button type="button" class="button" ng-click="nonActiveFunction()" >Svara</button>
      <button type="button" class="button" ng-click="nonActiveFunction()" >V&auml;xla</button>    
    </div>  <!-- End ContentRow04 -->   
  </div>
  </ion-content>
</ion-view>
